[submodule "modules/epi10"]
	path = modules/epi10
	url = http://10.29.85.229/rgonzalez/morbilidad.git
[submodule "modules/organizacion_sanitaria"]
	path = modules/organizacion_sanitaria
	url = http://10.29.85.229/rgonzalez/organizacion-sanitaria.git
[submodule "modules/mortalidad"]
	url = http://10.29.85.229/rgonzalez/mortalidad.git
[submodule "modules/ev25"]
	path = modules/ev25
	url = http://10.29.85.229/rgonzalez/ev25.git
[submodule "modules/sicasmi"]
	url = http://10.29.85.229/rgonzalez/sicasmi.git
[submodule "modules/consolidados-epi"]
	path = modules/consolidados-epi
	url = http://10.29.85.229/rgonzalez/consolidados-epi.git