table.border,
table.border th,
table.border td {
    border: 1px solid black;
}

table.no-border,
table.no-border th,
table.no-border td {
    border: 0;
}

table.padding,
table.padding th,
table.padding td {
    padding: 5px;
}

table.no-padding,
table.no-padding th,
table.no-padding td {
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #EFEFEF;
}

.rotate-90 {
    text-rotate: 90;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.bold {
	font-weight: bold;
}

.vertical-top {
	vertical-align: top;
}

.font-6 {
	font-size: 6pt;
}

table {
  height: 100%; 
}

tr, td, th {
  height: 100%;
}

table table {
    height: 100%;
}